extends ../layout

block content 
      h2 Eventos
      br
      form(class="navbar-form navbar-left", method="post", action="/search")
              div(class="form-group")
                input(type="text", name="q", class="form-control",placeholder="Search..", required)
                &nbsp
                button(type="submit", class="btn btn-info") Pesquisar
      br
      br
      table(class="table well")
        thead 
          tr
            th Titulo:
            th Subtitulo:
            th Descricao:
            th Data do Evento:
            th Opções
        tbody
          each valor, i in lista
            tr
              if elastic 
                td #{valor._source.titulo}
                td #{valor._source.subtitulo}
                td #{valor._source.descricao}
                td #{valor._source.dataEvento}
                td
                  a(href="/eventos/edit/#{valor._source._id}", title="Editar", class="btn btn-info") Modificar
                  &nbsp
                  a(href="/eventos/show/#{valor._source._id}", title="Visualizar", class="btn btn-primary") Visualizar
              else
                td #{valor.titulo}
                td #{valor.subtitulo}
                td #{valor.descricao}
                td #{valor.dataEvento}
                td
                  a(href="/eventos/edit/#{valor._id}", title="Editar", class="btn btn-info") Modificar
                  &nbsp
                  a(href="/eventos/show/#{valor._id}", title="Visualizar", class="btn btn-primary") Visualizar
      div(class="pull-right")
        a(href="/" title="Home", class="btn btn-info") Voltar
        &nbsp
        a(href="/eventos/create" title="Cadastrar", class="btn inline btn-success") Cadastrar
        &nbsp
        button(onclick="initPDF('#{lista}')" title="PDF", class="btn inline btn-warning") PDF